@model IEnumerable<Storage>

@{
    ViewData["Title"] = "Home Page";
}

<table>
    <tr>
        <th>Address</th>
        <th>UserBorrow</th>
        <th>MaxBorrow</th>
        <th>Health</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Address</td>
            <td>@item.UserBorrow</td>
            <td>@item.MaxBorrow</td>
            <td>@item.Health</td>
            <td><a asp-action="AddAlert" asp-controller="Home" asp-route-address="@item.Address">Add Alert</a></td>
        </tr>
    }
</table>